:root {
    --gray900: #171717;
    --gray800: #262626;
    --gray700: #404040;
    --gray600: #525252;
    --gray500: #737373;
    --gray400: #a3a3a3;
    --gray300: #d4d4d4;
    --gray200: #e5e5e5;
    --gray100: #f5f5f5;
    --gray50: #fafafa;
    --mainColor: #00ffb2;
    --subPurple: #9d8dfe;
    --subOrange: #ffb596;
}

.selected {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--mainColor);
}

.unselected {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--gray400);
}